<h1>Lets Play!</h1>

<TABLE  width="150" border="1" cellspacing="6" cellpadding="5">
  <TR>
    <TD> </TD>
    <TD> </TD>
    <TD> </TD>
  </TR>
  <TR>
    <TD> </TD>
    <TD> </TD>
    <TD> </TD>
  </TR>
  <TR>
    <TD> </TD>
    <TD> </TD>
    <TD> </TD>
  </TR>
</TABLE>
